@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('~@/assets/fonts/Gilroy/Gilroy-Light.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('~@/assets/fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}