* {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

p,
h4 {
    margin: 0;
}


button,
select {
    cursor: pointer;
}

input,
button,
select {
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus,
button:focus,
select:focus {
    outline: none;
    border: 1px solid #7b7b7b;
}

input,
select {
    padding: 12px;
}

.flash_error {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 16px 18px;
    margin-bottom: 10px;
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ffe3e6;
    border-color: rgba(158, 28, 35, .2);
}

.flash_error i {
    cursor: pointer;
    color: rgba(158, 28, 35, .6);
    font-size: 18px;
    margin-left: auto;
}